<div class="container">
  <div class="d-flex flex-column">
    <!-- dropdown -->
    <form class="justify-content-end" action="/filter" method="GET">
      <div class="input-group mb-3 container-fluid">
        <select class="form-control" name="category" id="category-filter" aria-label="Default select"
          onchange="submit()">

          <option value="" selected>所有分類</option>
          {{#each categoryList}}
          <option value="{{ this.categoryName }}" {{#is this.categoryName ../theCategory }} selected {{/is}}>
            {{this.categoryName}}</option>
          {{/each}}
        </select>
      </div>

      <div class="input-group filter-month mb-3 container-fluid">
        <select class="form-control " id="record-month" name="month" onchange="submit()">
          <option value="">所有月份</option>
          <option value="1" {{#is filteredMonth '1' }} selected {{/is}}>一月</option>
          <option value="2" {{#is filteredMonth '2' }} selected {{/is}}>二月</option>
          <option value="3" {{#is filteredMonth '3' }} selected {{/is}}>三月</option>
          <option value="4" {{#is filteredMonth '4' }} selected {{/is}}>四月</option>
          <option value="5" {{#is filteredMonth '5' }} selected {{/is}}>五月</option>
          <option value="6" {{#is filteredMonth '6' }} selected {{/is}}>六月</option>
          <option value="7" {{#is filteredMonth '7' }} selected {{/is}}>七月</option>
          <option value="8" {{#is filteredMonth '8' }} selected {{/is}}>八月</option>
          <option value="9" {{#is filteredMonth '9' }} selected {{/is}}>九月</option>
          <option value="10" {{#is filteredMonth '10' }} selected {{/is}}>十月</option>
          <option value="11" {{#is filteredMonth '11' }} selected {{/is}}>十一月</option>
          <option value="12" {{#is filteredMonth '12' }} selected {{/is}}>十二月</option>
        </select>
      </div>
    </form>

    {{#if success_msg }}
    <div class="alert alert-success" role="alert">
      {{ success_msg }}
    </div>
    {{/if}}

    <!-- display total amount -->
    <div class="total-amount-section d-flex align-items-center">
      <h5 class="total-amount-title mt-4 ml-3">總金額：</h5>
      <p class="total-amount mt-5 ml-5">{{ totalAmount }}</p>
    </div>

    <!-- record-section -->
    <ul class="list-group record-section">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="record-part d-flex align-items-center justify-content-between">

          <div class="record-item d-flex align-items-center">
            <div class="col col-auto">
              <!-- icon -->
              <i class="{{ this.categoryIcon }}"></i>
            </div>
            <!-- name & date -->
            <div class="record-info d-flex flex-column">
              <span class="record-info-name">{{ this.name }}</span>
              <span class="record-info-date">{{ this.date }}</span>
            </div>
          </div>
          <!-- amount -->
          <div class="record-amount">
            <span>{{ this.amount }}元</span>
          </div>
        </div>

        <div class="button-part">
          <!-- edit & delete buttons -->
          <form action="/records/{{ this._id }}/edit" method="GET" style="display: inline;">
            <button class="btn btn-outline-success" type="submit">修改</button>
          </form>

          <button type="button" class="btn btn-outline-danger" id="modal-button" data-toggle="modal"
            data-target="#deleteModal{{ this._id }}" data-id="{{ this._id }}">
            刪除
          </button>

        </div>
      </li>

    </ul>

    <!-- delete check modal -->
    <div class="modal fade" id="deleteModal{{ this._id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">這是一則提醒!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            確定要刪除該支出項目嗎？
          </div>
          <div class="modal-footer">
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
              id="modal-delete-button">
              <button type="submit" class="btn btn-danger">是的，我確定</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

    <div class="mx-auto">
      <a class="navbar-brand btn-lg active mt-3" href="/records/new">新增支出</a>
    </div>

  </div>
</div>