<div class="container">
  <div class="d-flex flex-column">
    <!-- dropdown -->
    <form action="/records/filter" method="GET">
      <div class="input-group filter-category mb-3 container-fluid">
        <select class="form-control ml-2" id="record-category" name="category" onchange="submit()">
          <option value="">所有分類</option>
          <option value="home" {{#is category '家居物業' }} selected {{/is}}>家居物業</option>
          <option value="transportation" {{#is category '交通出行' }} selected {{/is}}>交通出行</option>
          <option value="entertainment" {{#is category '休閒娛樂' }} selected {{/is}}>休閒娛樂</option>
          <option value="food" {{#is category '餐飲食品' }} selected {{/is}}>餐飲食品</option>
          <option value="others" {{#is category '其他' }} selected {{/is}}>其他</option>
        </select>
      </div>
    </form>

    <!-- display total amount -->
    <div class="total-amount-section m-3 d-flex justify-content-center align-items-center">
      <span class="total-amount-title m-3">總金額：</span>
      <span class="total-amount m-3">{{ totalAmount }}</span>
    </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="record-part d-flex align-items-center justify-content-between">
        <div class="record-item d-flex align-items-center">
          {{#is this.category '家居物業'}} <i class="fas fa-home"></i> {{/is}}
          {{#is this.category '交通出行'}} <i class="fas fa-shuttle-van"></i> {{/is}}
          {{#is this.category '休閒娛樂'}} <i class="fas fa-grin-beam"></i> {{/is}}
          {{#is this.category '餐飲食品'}} <i class="fas fa-utensils"></i> {{/is}}
          {{#is this.category '其他'}} <i class="fas fa-pen"></i> {{/is}}
          <div class="record-info d-flex flex-column">
            <span class="record-info-name">{{ this.name }}</span>
            <span class="record-info-date">{{ this.date }}</span>
          </div>
        </div>
        <div class="record-amount">
          <span>{{ this.amount }}元</span>
        </div>
      </div>
      <div class="button-part">
        <form action="/records/{{ this._id }}" method="GET" style="display: inline;">
          <button class="btn btn-outline-success" type="submit">修改</button>
        </form>
        <button type="button" class="btn btn-outline-danger" id="modal-button" data-toggle="modal"
          data-target="#deleteModal" data-id="{{ this._id }}">
          刪除
        </button>
      </div>
    </li>
    {{/each}}
  </ul>

  <a class="navbar-brand" href="/records/new">新增支出</a>

</div>

<!-- delete check modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">刪除支出項目</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        您確定要刪除該支出項目嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
        id="modal-delete-button">
          <button type="submit" class="btn btn-danger">是的，我確定</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">並沒有</button>
        </form>
      </div>
    </div>
  </div>
</div>