<div class="container record-add-form shadow">
  <form action="/records" method="POST" class="d-flex flex-column my-3 " novalidate>
    
    <div class="d-flex justify-content-between my-3">
      <div class="col-sm-2 fs-7">*必填欄位</div>
      <h5 class="col-sm-10">請輸入你的支出</h5>
    </div>

    <div class="record-name-group d-flex justify-content-between mb-3">
      <label for="name" class="col-sm-2 col-form-label">名稱*：</label>
      <div class="col-sm-10 justify-content-end">
        <input type="text" class="form-control {{#is validation.name false }} is-invalid {{/is}}" placeholder="項目名稱" id="record-name" name="name" {{#if validation.name}} value="{{ record.name}}" {{/if}} aria-label="Username" required>
        <div id="validationServer04Feedback" class="invalid-feedback">
          請輸入有效名稱！
        </div>
      </div>
    </div>

    <div class="record-merchant-group d-flex justify-content-between mb-3">
      <label for="merchant" class="col-sm-2 col-form-label">店家*：</label>
      <div class="col-sm-10 justify-content-end">
        <input type="text" class="form-control {{#is validation.merchant false }} is-invalid {{/is}}" placeholder="商家名稱"
          id="record-merchant" name="merchant" {{#if validation.merchant}} value="{{ record.merchant}}" {{/if}} 
          >
        <div id="validationServer04Feedback" class="invalid-feedback">
          請輸入有效店家！
        </div>
      </div>
    </div>

    <div class="record-date-group d-flex justify-content-between mb-3 align-items-center">
      <label for="date" class="col-sm-2 col-form-label">日期*：</label>
      <input type="date" class="form-control 
      {{#is validation.date false }} is-invalid {{/is}}" 
      id="record-date" name="date" value="{{ today }}" required>
    </div>

    <div class="record-cate d-flex justify-content-between  align-items-center mb-3">
      <label for="category" class="col-sm-2 col-form-label">類別*：</label>
      <div class="col-sm-10 justify-content-end">
        <select class="form-select ml-2 justify-content-end 
        {{#is validation.category false }} is-invalid {{/is}} " 
        id="record-category" name="category" aria-label="Default select" required>
          <option value="" selected>請選擇分類</option>
          {{#each categoryList}}
          <option value="{{ this.categoryName }}">{{ this.categoryName }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="record-amount d-flex justify-content-between mb-3">
      <label for="amount" class="col-sm-2 col-form-label">金額*：</label>
      <input type="number" class="form-control col-sm-10 
      {{#is validation.amount false }} is-invalid {{/is}}" 
      placeholder="金額" id="amount" name="amount" 
      {{#if validation.amount}} value="{{ record.amount}}" {{/if}} required>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success col-12">新增支出</button>
      </div>
    </div>

  </form>
</div>

<script src="/tools/formValidation.js"></script>